OCPP_FORWARDER_SATELLITE_ID={{ ocpp_forwarder_satellite_id }}
OCPP_FORWARDER_COLLECTOR_URL={{ ocpp_forwarder_collector_url }}
OCPP_FORWARDER_TOKEN_FILE={{ ocpp_forwarder_token_path }}
OCPP_FORWARDER_STATE_FILE={{ ocpp_forwarder_state_path }}
OCPP_FORWARDER_CSMS_COMMAND={{ ocpp_forwarder_csms_command }}
OCPP_FORWARDER_DATA_DIR={{ ocpp_forwarder_data_dir }}
OCPP_FORWARDER_BATCH_SIZE={{ ocpp_forwarder_batch_size }}
OCPP_FORWARDER_POLL_SECONDS={{ ocpp_forwarder_poll_seconds }}
OCPP_FORWARDER_TIMEOUT={{ ocpp_forwarder_timeout }}
