DO $$
BEGIN
    IF NOT EXISTS (SELECT 1 FROM pg_roles WHERE rolname = '{{ ocpp_collector_db_role }}') THEN
        CREATE ROLE {{ ocpp_collector_db_role }} LOGIN;
    END IF;
    IF NOT EXISTS (SELECT 1 FROM pg_roles WHERE rolname = 'ocpp_collector_anon') THEN
        CREATE ROLE ocpp_collector_anon NOLOGIN;
    END IF;
END
$$;

GRANT ocpp_collector_anon TO {{ ocpp_collector_db_role }};
{% if ocpp_collector_db_password | length > 0 %}
ALTER ROLE {{ ocpp_collector_db_role }} PASSWORD :'collector_password';
{% endif %}

SELECT format(
    'CREATE DATABASE %I OWNER %I',
    '{{ ocpp_collector_database }}',
    '{{ ocpp_collector_db_role }}'
)
WHERE NOT EXISTS (
    SELECT 1 FROM pg_database WHERE datname = '{{ ocpp_collector_database }}'
)\gexec
