db-uri = "{{ ocpp_collector_resolved_db_uri }}"
db-schemas = "api"
db-anon-role = "ocpp_collector_anon"
server-host = "{{ ocpp_collector_listen_host }}"
server-port = {{ ocpp_collector_listen_port }}
